div.multiRowCheckboxMenu {
	font-family: arial, verdana;
	font-size: 12px;
	font-weight: normal;
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	background:-moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	border-color:#CCCCCC #BBBBBB #A0A0A0;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	border-style:solid;
	border-width:1px;
	color:#000000;
	cursor:default;
	margin:0 8px 0 0;
	outline:medium none;
	padding:1px 6px 1px 4px;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
	position: relative;
	float: left;
	height: 1%;
	overflow: visible;
}

div.multiRowCheckboxMenu.down {
	background:-moz-linear-gradient(center top , #E3E3E3, #ccc) repeat scroll 0 0 transparent;
}

div.multiRowCheckboxMenu label {
	float: left;
	height: 1%;
	margin: 0;
}

div.multiRowCheckboxMenu input.selectAll {
		height: 19px;
}

div.multiRowCheckboxMenu input.selectAll.semiSelect {
	opacity: 0.5;
}

div.multiRowCheckboxMenu span.selectedItem {
    float:left;
    margin:1px 5px;
}

div.multiRowCheckboxMenu a.menu {
	text-indent: -999px;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../img/multirow-checkbox-menu/downarrow.png) no-repeat 3px 4px;
	outline: none;
	height: 1%;
        float: right;
}

div.multiRowCheckboxMenu ul {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	left:-1px;
	list-style:none outside none;
	margin:0;
	position:absolute;
	top:25px;
	display: none;
	padding: 0;
        z-index: 999;
}

div.multiRowCheckboxMenu ul.wide {
    width: 300px;
}

div.multiRowCheckboxMenu ul.wide li {
    float: left;
}

div.multiRowCheckboxMenu ul li{
	padding: 0;
	margin: 2px;
	font-size: 14px;
	padding: 5px;
}

div.multiRowCheckboxMenu ul li:hover {
	background-color: #3470A6;
	cursor: pointer;
	color: #fff;
}